extends layout

block content

    h1=title
    br

    div(style='margin-left:20px;margin-top:20px')

    h2 #{item.name} - #{item.size} oz - $#{item.price}
    h5 #{item.description}

    br
    br

    h4 Lots Available
    ul
        each key in Object.keys(lotCounts) 
            li 
                p #{key}: #{lotCounts[key]}
                


    h4 Units Available
    

    ul
        each item in items
            li 
                p Lot #{item.lot} - Best By Date: #{item.bestby_formatted} #{item._id}
                
