extends layout

block content
    
    h1 
        a(href=`/catalog/category/${item.category._id}`) #{item.category.name}
    br

    div(style='margin-left:20px;margin-top:20px')

    h2 #{item.name} - #{item.size} oz - $#{item.price}
    h5 #{item.description}

    br
    br

    h4 Lots Available
    ul
        each key in Object.keys(lotCounts) 
            li 
                p #{key} - Count: #{lotCounts[key]}
                
    h4 Units Available
    
    ul
        each instance in items
            li 
                p Lot #{instance.lot} - Best By Date: #{instance.bestby_formatted} 
                p ID: #{instance._id} #[a(href=`/catalog/iteminstance/${instance._id}/delete`) Delete]
                
